* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(./assets/background-image.avif);
  background-position: center;
  background-size: cover;
}

#logo {
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 50%;
  margin-left: 25px;
}

#nav-bar {
  height: 100px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#nav-bar #nav-option {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
  /* top: 50px; */
}

#nav-bar #nav-options {
  text-decoration: none;
  color: #fff;
  margin-left: 45px;
}

#icon span {
  margin-right: 25px;
  font-size: 35px;
  /* color: black; */
  /* background-color: #fff; */
  border-color: #fff;
}

main #left {
  height: 70%;
  width: 100%;
  /* display: flex;
  flex-direction: colums; */
  padding-top: 90px;
  padding-left: 100px;
  padding-bottom: 60px;
}

#left h4 {
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 20px;
}

#left h1 {
  font-size: 60px;
}

#details {
  width: 40%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 30px;
  opacity: 0.8;
}

#description {
  width: 60%;
  font-size: 10px;
}
